<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ClientIntake</display-name>
 
    <welcome-file-list>
        <welcome-file>search.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SearchResults</servlet-name>
        <servlet-class>com.innoppl.intake.SearchResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchResults</servlet-name>
        <url-pattern>/SearchResultsServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>SearchDetails</servlet-name>
        <servlet-class>com.innoppl.intake.SearchDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchDetails</servlet-name>
        <url-pattern>/SearchDetailsServlet/*</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.innoppl.intake.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
</web-app>